In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import mannwhitneyu
import numpy as np
from helper import p_values, p_values_ras, p_values_wilcoxon, p_values_ras_wilcoxon

In [2]:
true_to_seires = pd.read_csv('../output/inv_y_rnn.csv', index_col=0)
print(true_to_seires.shape)

true_to_seires = true_to_seires.iloc[-17521:, :]
print(true_to_seires.shape)

(19249, 96)
(17521, 96)

In [3]:
# sum(true_to_seires.values - true_to_seires2.values)

In [4]:
lr_raw = pd.read_csv('../output/inv_yhat_lr.csv', index_col=0)
mlp_raw = pd.read_csv('../output/inv_yhat_mlp.csv', index_col=0)
rnn_raw = pd.read_csv('../output/inv_yhat_rnn.csv', index_col=0)
lstm_raw = pd.read_csv('../output/inv_yhat_lstm.csv', index_col=0)
conv_mlp_raw = pd.read_csv('../output/inv_yhat_cnn.csv', index_col=0)
conv_rnn_raw = pd.read_csv('../output/inv_yhat_rcnn.csv', index_col=0)

In [5]:
print(lr_raw.shape, mlp_raw.shape, rnn_raw.shape, lstm_raw.shape, conv_mlp_raw.shape, conv_rnn_raw.shape)

(19249, 96) (19249, 96) (19249, 96) (19249, 96) (19249, 96) (19249, 96)

In [6]:
lr = lr_raw.iloc[-17521:, :]
mlp = mlp_raw.iloc[-17521:, :]
rnn = rnn_raw.iloc[-17521:, :]
lstm = lstm_raw.iloc[-17521:, :]
conv_mlp = conv_mlp_raw.iloc[-17521:, :]
conv_rnn = conv_rnn_raw.iloc[-17521:, :]

In [7]:
print(lr.shape)
print(mlp.shape)
print(rnn.shape)
print(lstm.shape)
print(conv_mlp.shape)
print(conv_rnn.shape)

(17521, 96)
(17521, 96)
(17521, 96)
(17521, 96)
(17521, 96)
(17521, 96)

In [8]:
lr_2yrs_error = lr - true_to_seires
mlp_2yrs_error = mlp - true_to_seires
rnn_2yrs_error = rnn - true_to_seires
lstm_2yrs_error = lstm - true_to_seires
conv_mlp_2yrs_error = conv_mlp - true_to_seires
conv_rnn_2yrs_error = conv_rnn - true_to_seires

In [9]:
dl_errors = np.concatenate([lr_2yrs_error,
                            mlp_2yrs_error,
                            rnn_2yrs_error,
                            lstm_2yrs_error, 
                            conv_mlp_2yrs_error,
                            conv_rnn_2yrs_error
                           ], axis=0)
dl_errors.shape

(105126, 96)

In [14]:
percentile_99 = np.percentile(dl_errors, 99)
percentile_99

0.5217898930000022

In [15]:
percentile_99 = np.percentile(dl_errors, 1)
percentile_99

-0.5609924200000004

In [12]:
# percentile_99 = np.percentile(dl_errors, 99)

percentile_99 = np.percentile(np.abs(dl_errors), 97)

print("99th Percentile of Daily Rain:", percentile_99)

99th Percentile of Daily Rain: 0.4958655750000003

In [13]:
# percentile_99 = np.percentile(dl_errors, 99)

percentile_99 = np.percentile(np.abs(dl_errors), 3)

print("99th Percentile of Daily Rain:", percentile_99)

99th Percentile of Daily Rain: 0.006125693999999748

### HEC-RAS Percentage beyond [-0.5, 0.5] ft

In [22]:
error_ras = pd.read_csv('../output/ras_1920.csv', index_col=0)
error_ras.reset_index(drop=True, inplace=True)
error_ras

,S1_OBS,S1_RAS,S1_ERROR,S25A_TW_OBS,S25A_TW_RAS,S25A_TW_ERROR,S25B_TW_OBS,S25B_TW_RAS,S25B_TW_ERROR,S26_TW_OBS,S26_TW_RAS,S26_TW_ERROR
0,-0.32,-0.54,-0.22,-0.31,-0.54,-0.23,-0.28,-0.53,-0.25,-0.30,-0.54,-0.24
1,0.17,-0.05,-0.22,0.14,-0.05,-0.19,0.19,-0.05,-0.24,0.19,-0.05,-0.24
2,0.80,0.62,-0.18,0.76,0.61,-0.15,0.83,0.63,-0.20,0.80,0.63,-0.17
3,1.26,1.09,-0.17,1.27,1.10,-0.17,1.31,1.10,-0.21,1.28,1.08,-0.20
4,1.68,1.51,-0.17,1.67,1.53,-0.14,1.70,1.51,-0.19,1.69,1.52,-0.17
...,...,...,...,...,...,...,...,...,...,...,...,...
17539,0.18,0.21,0.03,0.13,0.22,0.09,0.26,0.22,-0.04,0.17,0.20,0.03
17540,0.52,0.69,0.17,0.52,0.68,0.16,0.60,0.67,0.07,0.54,0.79,0.25
17541,1.14,1.13,-0.01,1.18,1.14,-0.04,1.17,1.13,-0.04,1.25,1.14,-0.11
17542,1.62,1.67,0.05,1.65,1.67,0.02,1.70,1.69,-0.01,1.67,1.67,0.00
17543,1.93,1.94,0.01,1.95,1.93,-0.02,2.00,1.95,-0.05,2.00,1.91,-0.09

In [23]:
error_ras_concat = pd.concat([error_ras.loc[:, 'S1_ERROR'], error_ras.loc[:, 'S25A_TW_ERROR'], error_ras.loc[:, 'S25B_TW_ERROR'], error_ras.loc[:, 'S26_TW_ERROR']], axis=1)
error_ras_concat = pd.DataFrame(error_ras_concat)
error_ras_concat

       S1_ERROR  S25A_TW_ERROR  S25B_TW_ERROR  S26_TW_ERROR
0         -0.22          -0.23          -0.25         -0.24
1         -0.22          -0.19          -0.24         -0.24
2         -0.18          -0.15          -0.20         -0.17
3         -0.17          -0.17          -0.21         -0.20
4         -0.17          -0.14          -0.19         -0.17
...         ...            ...            ...           ...
17539      0.03           0.09          -0.04          0.03
17540      0.17           0.16           0.07          0.25
17541     -0.01          -0.04          -0.04         -0.11
17542      0.05           0.02          -0.01          0.00
17543      0.01          -0.02          -0.05         -0.09

[17544 rows x 4 columns]

In [29]:
stations = ['S1', 'S25A', 'S25B', 'S26']
for i in range(len(stations)):
    print("Station:", stations[i])
    each_station = error_ras_concat.iloc[:, i]
    print(f'{len(each_station[each_station > 0.5]) / len(each_station) * 100 + len(each_station[each_station < -0.5]) / len(each_station) * 100:.3f} %')
    print('     ')

Station: S1
2.599 %

Station: S25A
3.249 %

Station: S25B
4.417 %

Station: S26
3.585 %

### DL Percentage beyond [-0.5, 0.5] feet for different prediction lengths

In [64]:
lr_2yrs_error = lr - true_to_seires
mlp_2yrs_error = mlp - true_to_seires
rnn_2yrs_error = rnn - true_to_seires
lstm_2yrs_error = lstm - true_to_seires
conv_mlp_2yrs_error = conv_mlp - true_to_seires
conv_rnn_2yrs_error = conv_rnn - true_to_seires

- t+1

In [65]:
li = [0, 1, 2, 3]
a = li[0]
b = li[1]
c = li[2]
d = li[3]

lr_2yrs_error_t1 = pd.concat([lr_2yrs_error.iloc[:, a], lr_2yrs_error.iloc[:, b], lr_2yrs_error.iloc[:, c], lr_2yrs_error.iloc[:, d]], axis=0)
lr_2yrs_error_t1_df = pd.DataFrame(lr_2yrs_error_t1)

mlp_2yrs_error_t1 = pd.concat([mlp_2yrs_error.iloc[:, a], mlp_2yrs_error.iloc[:, b], mlp_2yrs_error.iloc[:, c], mlp_2yrs_error.iloc[:, d]], axis=0)
mlp_2yrs_error_t1_df = pd.DataFrame(mlp_2yrs_error_t1)

rnn_2yrs_error_t1 = pd.concat([rnn_2yrs_error.iloc[:, a], rnn_2yrs_error.iloc[:, b], rnn_2yrs_error.iloc[:, c], rnn_2yrs_error.iloc[:, d]], axis=0)
rnn_2yrs_error_t1_df = pd.DataFrame(rnn_2yrs_error_t1)

lstm_2yrs_error_t1 = pd.concat([lstm_2yrs_error.iloc[:, a], lstm_2yrs_error.iloc[:, b], lstm_2yrs_error.iloc[:, c], lstm_2yrs_error.iloc[:, d]], axis=0)
lstm_2yrs_error_t1_df = pd.DataFrame(lstm_2yrs_error_t1)

conv_mlp_2yrs_error_t1 = pd.concat([conv_mlp_2yrs_error.iloc[:, a], conv_mlp_2yrs_error.iloc[:, b], conv_mlp_2yrs_error.iloc[:, c], conv_mlp_2yrs_error.iloc[:, d]], axis=0)
conv_mlp_2yrs_error_t1_df = pd.DataFrame(conv_mlp_2yrs_error_t1)

conv_rnn_2yrs_error_t1 = pd.concat([conv_rnn_2yrs_error.iloc[:, a], conv_rnn_2yrs_error.iloc[:, b], conv_rnn_2yrs_error.iloc[:, c], conv_rnn_2yrs_error.iloc[:, d]], axis=0)
conv_rnn_2yrs_error_t1_df = pd.DataFrame(conv_rnn_2yrs_error_t1)



error_model_concat_1st = pd.concat([lr_2yrs_error_t1, mlp_2yrs_error_t1, rnn_2yrs_error_t1, lstm_2yrs_error_t1, conv_mlp_2yrs_error_t1, conv_rnn_2yrs_error_t1], axis=1)
error_model_concat_1st.columns = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']

In [66]:
# error_model_concat_1st

In [67]:
models = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']
for i in range(len(models)):
    print("Model:", models[i])
    model = error_model_concat_1st.iloc[:, i]
    print(f'{len(model[model > 0.5]) / len(model) * 100 + len(model[model < -0.5]) / len(model) * 100:.3f} %')
    print('     ')

Model: LR
5.545 %

Model: MLP
1.684 %

Model: RNN
0.073 %

Model: LSTM
0.110 %

Model: CNN
0.086 %

Model: RCNN
0.127 %

- t+8

In [68]:
li = [28, 29, 30, 31]
a = li[0]
b = li[1]
c = li[2]
d = li[3]

lr_2yrs_error_t8 = pd.concat([lr_2yrs_error.iloc[:, a], lr_2yrs_error.iloc[:, b], lr_2yrs_error.iloc[:, c], lr_2yrs_error.iloc[:, d]], axis=0)
lr_2yrs_error_t8_df = pd.DataFrame(lr_2yrs_error_t8)

mlp_2yrs_error_t8 = pd.concat([mlp_2yrs_error.iloc[:, a], mlp_2yrs_error.iloc[:, b], mlp_2yrs_error.iloc[:, c], mlp_2yrs_error.iloc[:, d]], axis=0)
mlp_2yrs_error_t8_df = pd.DataFrame(mlp_2yrs_error_t8)

rnn_2yrs_error_t8 = pd.concat([rnn_2yrs_error.iloc[:, a], rnn_2yrs_error.iloc[:, b], rnn_2yrs_error.iloc[:, c], rnn_2yrs_error.iloc[:, d]], axis=0)
rnn_2yrs_error_t8_df = pd.DataFrame(rnn_2yrs_error_t8)

lstm_2yrs_error_t8 = pd.concat([lstm_2yrs_error.iloc[:, a], lstm_2yrs_error.iloc[:, b], lstm_2yrs_error.iloc[:, c], lstm_2yrs_error.iloc[:, d]], axis=0)
lstm_2yrs_error_t8_df = pd.DataFrame(lstm_2yrs_error_t8)

conv_mlp_2yrs_error_t8 = pd.concat([conv_mlp_2yrs_error.iloc[:, a], conv_mlp_2yrs_error.iloc[:, b], conv_mlp_2yrs_error.iloc[:, c], conv_mlp_2yrs_error.iloc[:, d]], axis=0)
conv_mlp_2yrs_error_t8_df = pd.DataFrame(conv_mlp_2yrs_error_t8)

conv_rnn_2yrs_error_t8 = pd.concat([conv_rnn_2yrs_error.iloc[:, a], conv_rnn_2yrs_error.iloc[:, b], conv_rnn_2yrs_error.iloc[:, c], conv_rnn_2yrs_error.iloc[:, d]], axis=0)
conv_rnn_2yrs_error_t8_df = pd.DataFrame(conv_rnn_2yrs_error_t8)



error_model_concat_8st = pd.concat([lr_2yrs_error_t8, mlp_2yrs_error_t8, rnn_2yrs_error_t8, lstm_2yrs_error_t8, conv_mlp_2yrs_error_t8, conv_rnn_2yrs_error_t8], axis=1)
error_model_concat_8st.columns = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']

In [69]:
models = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']
for i in range(len(models)):
    print("Model:", models[i])
    model = error_model_concat_8st.iloc[:, i]
    print(f'{len(model[model > 0.5]) / len(model) * 100 + len(model[model < -0.5]) / len(model) * 100:.3f} %')
    print('     ')

Model: LR
10.844 %

Model: MLP
0.880 %

Model: RNN
0.464 %

Model: LSTM
2.500 %

Model: CNN
0.237 %

Model: RCNN
0.194 %

- t+16

In [70]:
li = [60, 61, 62, 63]
a = li[0]
b = li[1]
c = li[2]
d = li[3]

lr_2yrs_error_t16 = pd.concat([lr_2yrs_error.iloc[:, a], lr_2yrs_error.iloc[:, b], lr_2yrs_error.iloc[:, c], lr_2yrs_error.iloc[:, d]], axis=0)
lr_2yrs_error_t16_df = pd.DataFrame(lr_2yrs_error_t16)

mlp_2yrs_error_t16 = pd.concat([mlp_2yrs_error.iloc[:, a], mlp_2yrs_error.iloc[:, b], mlp_2yrs_error.iloc[:, c], mlp_2yrs_error.iloc[:, d]], axis=0)
mlp_2yrs_error_t16_df = pd.DataFrame(mlp_2yrs_error_t16)

rnn_2yrs_error_t16 = pd.concat([rnn_2yrs_error.iloc[:, a], rnn_2yrs_error.iloc[:, b], rnn_2yrs_error.iloc[:, c], rnn_2yrs_error.iloc[:, d]], axis=0)
rnn_2yrs_error_t16_df = pd.DataFrame(rnn_2yrs_error_t16)

lstm_2yrs_error_t16 = pd.concat([lstm_2yrs_error.iloc[:, a], lstm_2yrs_error.iloc[:, b], lstm_2yrs_error.iloc[:, c], lstm_2yrs_error.iloc[:, d]], axis=0)
lstm_2yrs_error_t16_df = pd.DataFrame(lstm_2yrs_error_t16)

conv_mlp_2yrs_error_t16 = pd.concat([conv_mlp_2yrs_error.iloc[:, a], conv_mlp_2yrs_error.iloc[:, b], conv_mlp_2yrs_error.iloc[:, c], conv_mlp_2yrs_error.iloc[:, d]], axis=0)
conv_mlp_2yrs_error_t16_df = pd.DataFrame(conv_mlp_2yrs_error_t16)

conv_rnn_2yrs_error_t16 = pd.concat([conv_rnn_2yrs_error.iloc[:, a], conv_rnn_2yrs_error.iloc[:, b], conv_rnn_2yrs_error.iloc[:, c], conv_rnn_2yrs_error.iloc[:, d]], axis=0)
conv_rnn_2yrs_error_t16_df = pd.DataFrame(conv_rnn_2yrs_error_t16)



error_model_concat_16st = pd.concat([lr_2yrs_error_t16, mlp_2yrs_error_t16, rnn_2yrs_error_t16, lstm_2yrs_error_t16, conv_mlp_2yrs_error_t16, conv_rnn_2yrs_error_t16], axis=1)
error_model_concat_16st.columns = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']

In [71]:
models = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']
for i in range(len(models)):
    print("Model:", models[i])
    model = error_model_concat_16st.iloc[:, i]
    print(f'{len(model[model > 0.5]) / len(model) * 100 + len(model[model < -0.5]) / len(model) * 100:.3f} %')
    print('     ')

Model: LR
5.874 %

Model: MLP
0.358 %

Model: RNN
1.316 %

Model: LSTM
3.125 %

Model: CNN
0.297 %

Model: RCNN
0.250 %

- t+24

In [72]:
li = [92, 93, 94, 95]
a = li[0]
b = li[1]
c = li[2]
d = li[3]

lr_2yrs_error_t24 = pd.concat([lr_2yrs_error.iloc[:, a], lr_2yrs_error.iloc[:, b], lr_2yrs_error.iloc[:, c], lr_2yrs_error.iloc[:, d]], axis=0)
lr_2yrs_error_t24_df = pd.DataFrame(lr_2yrs_error_t24)

mlp_2yrs_error_t24 = pd.concat([mlp_2yrs_error.iloc[:, a], mlp_2yrs_error.iloc[:, b], mlp_2yrs_error.iloc[:, c], mlp_2yrs_error.iloc[:, d]], axis=0)
mlp_2yrs_error_t24_df = pd.DataFrame(mlp_2yrs_error_t24)

rnn_2yrs_error_t24 = pd.concat([rnn_2yrs_error.iloc[:, a], rnn_2yrs_error.iloc[:, b], rnn_2yrs_error.iloc[:, c], rnn_2yrs_error.iloc[:, d]], axis=0)
rnn_2yrs_error_t24_df = pd.DataFrame(rnn_2yrs_error_t24)

lstm_2yrs_error_t24 = pd.concat([lstm_2yrs_error.iloc[:, a], lstm_2yrs_error.iloc[:, b], lstm_2yrs_error.iloc[:, c], lstm_2yrs_error.iloc[:, d]], axis=0)
lstm_2yrs_error_t24_df = pd.DataFrame(lstm_2yrs_error_t24)

conv_mlp_2yrs_error_t24 = pd.concat([conv_mlp_2yrs_error.iloc[:, a], conv_mlp_2yrs_error.iloc[:, b], conv_mlp_2yrs_error.iloc[:, c], conv_mlp_2yrs_error.iloc[:, d]], axis=0)
conv_mlp_2yrs_error_t24_df = pd.DataFrame(conv_mlp_2yrs_error_t24)

conv_rnn_2yrs_error_t24 = pd.concat([conv_rnn_2yrs_error.iloc[:, a], conv_rnn_2yrs_error.iloc[:, b], conv_rnn_2yrs_error.iloc[:, c], conv_rnn_2yrs_error.iloc[:, d]], axis=0)
conv_rnn_2yrs_error_t24_df = pd.DataFrame(conv_rnn_2yrs_error_t24)



error_model_concat_24st = pd.concat([lr_2yrs_error_t24, mlp_2yrs_error_t24, rnn_2yrs_error_t24, lstm_2yrs_error_t24, conv_mlp_2yrs_error_t24, conv_rnn_2yrs_error_t24], axis=1)
error_model_concat_24st.columns = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']

In [73]:
error_model_concat_24st.shape

(70084, 6)

In [74]:
models = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']
for i in range(len(models)):
    print("Model:", models[i])
    model = error_model_concat_24st.iloc[:, i]
    print(f'{len(model[model > 0.5]) / len(model) * 100 + len(model[model < -0.5]) / len(model) * 100:.3f} %')
    print('     ')

Model: LR
14.781 %

Model: MLP
0.990 %

Model: RNN
1.481 %

Model: LSTM
2.237 %

Model: CNN
0.291 %

Model: RCNN
0.311 %

- entire 24 hours

In [57]:
lr_2yrs_error = lr_2yrs_error.values.reshape((-1, 1))
mlp_2yrs_error = mlp_2yrs_error.values.reshape((-1, 1))
rnn_2yrs_error = rnn_2yrs_error.values.reshape((-1, 1))
lstm_2yrs_error = lstm_2yrs_error.values.reshape((-1, 1))
conv_mlp_2yrs_error = conv_mlp_2yrs_error.values.reshape((-1, 1))
conv_rnn_2yrs_error = conv_rnn_2yrs_error.values.reshape((-1, 1))

In [60]:
lr_2yrs_error_df = pd.DataFrame(lr_2yrs_error)
mlp_2yrs_error_df = pd.DataFrame(mlp_2yrs_error)
rnn_2yrs_error_df = pd.DataFrame(rnn_2yrs_error)
lstm_2yrs_error_df = pd.DataFrame(lstm_2yrs_error)
conv_mlp_2yrs_error_df = pd.DataFrame(conv_mlp_2yrs_error)
conv_rnn_2yrs_error_df = pd.DataFrame(conv_rnn_2yrs_error)

In [61]:
error_model_concat = pd.concat([lr_2yrs_error_df, mlp_2yrs_error_df, rnn_2yrs_error_df, 
                                lstm_2yrs_error_df, conv_mlp_2yrs_error_df, conv_rnn_2yrs_error_df], axis=1)
error_model_concat.columns = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']

In [63]:
models = ['LR', 'MLP', 'RNN', 'LSTM', 'CNN', 'RCNN']
for i in range(len(models)):
    print("Model:", models[i])
    model = error_model_concat.iloc[:, i]
    print(f'{len(model[model > 0.5]) / len(model) * 100 + len(model[model < -0.5]) / len(model) * 100:.3f} %')
    print('     ')

Model: LR
13.051 %

Model: MLP
0.753 %

Model: RNN
0.777 %

Model: LSTM
2.360 %

Model: CNN
0.244 %

Model: RCNN
0.224 %